.bomb{
    border-style: sold;
    border-color: black;
}
.wholeField{
    float: left;
}
body{
    background-color: #7b7b7b;
}
.x img{
    height: 45px;
    width: 45px;
}/*resizing fields*/

.tt{
    width: 12%;
} /*smaller timer and flags counter*/

.timer{
    display: inline-block;
}

.theSun{
    background-color: transparent;
    border: none;
    display: inline-block;

}
.sunIMG{
    width: 80%
}

.flagsNo{
    display: inline-block;


}
.difficulity{
    display: inline-block;
}
.menu{
    background-color:#bdbdbd;
    border: solid black;

}
.q{
    text-align: center;
}
#noselect{
    display: none;
}